@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #070707;
  --color-secondary: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.gradient {
  background-image: linear-gradient(
    120deg,
    rgb(0 0 0) 3.9%,
    rgb(255 144 21 / 18%) 103.7%
  );
}

.hover-text-gradient {
  transition: all 0.3s ease;
}

.text-gradient {
  background: var(--main, linear-gradient(90deg, #ff572f 5%, #ffad20 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-text-gradient:hover {
  background: var(--main, linear-gradient(90deg, #ff572f 0%, #ffad20 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  background: #070707;
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.main-pt {
  padding-top: 150px;
}

.bg-gradient {
  border-radius: 7px;
  background: var(--main, linear-gradient(90deg, #ff572f 0%, #ffad20 100%));
  border: 0;
}

.gr-btn {
  border-radius: 9px;
  background: var(--main, linear-gradient(90deg, #ff572f 0%, #ffad20 100%));
  border: 0;
  color: white;
  font-size: 16px;
  width: 200px;
  padding: 15px 0px;
}

.br-gr-btn {
  position: relative;
  border-radius: 7px;
  font-size: 16px;
  width: 200px;
  padding: 15px 0px;
  background: transparent;
  z-index: 1;
  text-align: center;
  cursor: pointer;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #ff572f 0%, #ffad20 100%);
}

.br-gr-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  padding: 1px; /* border thickness */
  background: linear-gradient(90deg, #ff572f, #ffad20);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.banner-tab {
  border-radius: 23.917px;
  background: rgba(31, 27, 32, 0.87);
  backdrop-filter: blur(1.1666667461395264px);
  padding: 5px;
}
.bg-first {
  border-radius: 25px;
  background: linear-gradient(
    300deg,
    rgba(255, 0, 63, 0.74) 48.01%,
    rgba(200, 15, 81, 0.39) 100%
  );
  backdrop-filter: blur(3px);
}

.banner-gradient {
  position: absolute;
  inset: 0;
}

.banner-gradient::before {
  content: '';
  position: absolute;
  inset: -50%; /* make it bigger to cover rotation */
  background: linear-gradient(
    54deg,
    rgba(0, 0, 0, 0.4) 35.9%,
    rgb(255 144 21 / 20%) 87.7%
  );
  filter: blur(287px);
  animation: rotateBg 20s linear infinite;
  transform-origin: center;
}

@keyframes rotateBg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-second {
  border-radius: 25px;
  background: linear-gradient(
    300deg,
    rgba(251, 176, 59, 0.74) 48.01%,
    rgba(251, 176, 59, 0.39) 100%
  );
  backdrop-filter: blur(3px);
}
.bg-third {
  border-radius: 25px;
  background: linear-gradient(
    300deg,
    rgba(59, 59, 251, 0.74) 48.01%,
    rgba(59, 59, 251, 0.39) 100%
  );
  backdrop-filter: blur(3px);
}
button {
  cursor: pointer;
}
.banner-sc {
  border-radius: 8.167px;
  border: 4.667px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.12);
}

.custom-gradient-bg {
  background: linear-gradient(
    160deg,
    rgba(31, 27, 32, 0.65) 32.73%,
    rgba(86, 74, 90, 0.65) 178.87%
  );
  backdrop-filter: blur(7.5px);
}
.skew-box {
  transform: skewY(4deg);
  border-radius: 27px;
  margin-left: 6px;
}
.active-activity-tab {
  position: relative;
}
.active-activity-tab::after {
  content: url('../../public/assets/images/home/tab.svg');
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-box {
  border-radius: 15.313px;
  border: 1.021px solid #ffffff85;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(185, 184, 184, 0.18) 100%
  );
}
.asset1 {
  /* filter: blur(2px); */
  animation: floatY 2s ease-in-out infinite alternate;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px); /* Adjust the value for more/less movement */
  }
}
.carft-bg {
  background-color: #020114;
}

.banking-flex .swiper-wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .gr-btn {
    font-size: 14px;
    width: 180px;
    padding: 7px 0px;
  }
  .br-gr-btn {
    font-size: 14px;
    padding: 12px 0px;
  }
  .main-pt {
    padding-top: 90px;
  }
  .active-activity-tab::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #ff572f, #ffad20);
  }
  .card-b {
    bottom: 10px;
  }
  .call-button {
    width: 40px !important;
    height: 40px !important;
  }
  .whatsapp-button {
    width: 40px !important;
    height: 40px !important;
  }
  .chatbot-button {
    width: 40px !important;
    height: 40px !important;
  }
  .call-button svg {
    width: 25px !important;
  }
  .whatsapp-button svg {
    width: 25px !important;
  }
  .chatbot-button svg {
    width: 25px !important;
  }
  .banner-tab {
    display: flex !important;
    overflow: auto !important;
    justify-content: space-around !important;
    white-space: pre !important;
    background-color: transparent !important;
  }
}

@keyframes slowRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slow-rotate {
  animation: slowRotate 20s linear infinite;
}

a.bg-gradient {
  transition: transform 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 90px;
}
a.bg-gradient:hover svg {
  transform: rotate(45deg);
  transition: transform 0.4s ease;
}

.service-box {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.43);
  backdrop-filter: blur(11.528412818908691px);
  width: 100%;
  height: fit-content;
  padding: 15px;
}

.bg-office {
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(14.649999618530273px);

  height: fit-content;
  padding: 15px;
}
::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.swiper-pagination-bullet-active{
  background: linear-gradient(90deg, #ff572f, #ffad20) !important;
}


.header_active{
  
}